@import '@fontsource/kanit';

body {
    background-color: #0d0d0d;
    color: #f5f5f5;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #1c1c1c;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: #ffdd57;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
  }
  
  .input-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #444;
    border-radius: 10px;
    background-color: #292929;
  }
  
  h2 {
    color: #ffdd57;
    margin-bottom: 10px;
  }
  
  .periodo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f5f5f5;
    margin-bottom: 10px;
    padding: 12px;
    border: 2px solid #f95b6a;
    border-radius: 10px;
    background-color: #2a2a2a;
  }
  
  .periodo-texto {
    flex: 1;
    font-size: 1.1em;
    padding-right: 10px;
  }
  
  label {
    display: inline-block;
    width: 120px;
    color: #ffdd57;
  }
  
  input[type="text"],
  select {
    color: #f5f5f5;
    width: calc(100% - 130px);
    padding: 10px;
    border: 2px solid #f95b6a;
    border-radius: 8px;
    background-color: #3a3a3a;
    margin: 5px 0;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  select:focus {
    border-color: #ff6b6b;
    outline: none;
  }
  
  button {
    background-color: #ff6b6b;
    color: white;
    padding: 12px 60px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #d14c4c;
  }
  
  .btn-remover {
    border: none;
    background-color: #ff4757;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-left: auto;
    transition: background-color 0.3s;
  }
  
  .btn-remover:hover {
    background-color: #d11a2a;
  }
  